@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
.pre_loader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgb(150, 150, 150);
    z-index: 1100;
}
.preloader__pos {
    position: relative;
    top: 40%;
}
.circle {
    background-color: rgba(0,0,0,0);
    border:5px solid rgba(218, 218, 218, 0.712);
    opacity:.9;
    border-right:5px solid rgba(0,0,0,0);
    border-left:5px solid rgba(0,0,0,0);
    border-radius:50px;
    box-shadow: 0 0 35px #ebebeb;
    width:50px;
    height:50px;
    margin:0 auto;
    -moz-animation:spinPulse 1s infinite ease-in-out;
    -webkit-animation:spinPulse 1s infinite linear;
}
.circle1 {
    background-color: rgba(0,0,0,0);
    border:5px solid rgba(202, 202, 202, 0.9);
    opacity:.9;
    border-left:5px solid rgba(0,0,0,0);
    border-right:5px solid rgba(0,0,0,0);
    border-radius:50px;
    box-shadow: 0 0 15px #adadad;
    width:30px;
    height:30px;
    margin:0 auto;
    position:relative;
    top:-50px;
    -moz-animation:spinoffPulse 1s infinite linear;
    -webkit-animation:spinoffPulse 1s infinite linear;
}
@-moz-keyframes spinPulse {
    0% { -moz-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #adadad;}
    50% { -moz-transform:rotate(145deg); opacity:1; }
    100% { -moz-transform:rotate(-320deg); opacity:0; }
}
@-moz-keyframes spinoffPulse {
    0% { -moz-transform:rotate(0deg); }
    100% { -moz-transform:rotate(360deg); }
}
@-webkit-keyframes spinPulse {
    0% { -webkit-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #adadad; }
    50% { -webkit-transform:rotate(145deg); opacity:1;}
    100% { -webkit-transform:rotate(-320deg); opacity:0; }
}
@-webkit-keyframes spinoffPulse {
    0% { -webkit-transform:rotate(0deg); }
    100% { -webkit-transform:rotate(360deg); }
}
.loaded .preloader {
    display: none;
} 




.fixed {
    position: fixed;
    margin: 0;
    padding: 0;
    z-index: 1001;
}
.hidden {
    display: none;
}


/*RETURN KEY +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ *//*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
a.back-to-top  {
    display:  none;
    width:  56px;
    height:  40px;
    position:  fixed;
    z-index:  256;
    right:  17px;
    bottom:  10px;
    padding: 4px 12px;
    background: no-repeat center/55% url(../../static/img/upArrow.png) #343a40;

    
    color: rgba(255, 255, 255, 0.5);
    font-size: 20px;

    opacity:  1;
    border: 5px solid rgba(255, 255, 255, 0.1);

    border-radius:  3px;
    
    /* box-shadow:  3px 3px 7px 7px rgba(0, 0, 0, 0.1),  0 1px 1px rgba(0, 0, 0, 0.1); */
}
a.back-to-top:hover  {
    opacity:  0.7;
    transition:  0.5s;
}
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */




html {
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
}
body {
    margin: 0;
    padding: 0;
}
h1, h2 {
    color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    font-size: 4em;
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1em;
}
.cutter a {
    text-decoration: none;
}
.main {
    height: auto;
    width: auto;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.created {
    margin-top: 90px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.main_goods {
    height: fit-content;
    width: 100%;
    margin: 0;
    padding-top: 70px;
    display: flex;
    flex-direction: column;
}

.total {
    margin-left: 20px;
}

.all_goods {
    height: auto;
    width: 100%;
    margin: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.price_out {
    display: flex;
    flex-direction: row;
}

.head_mgoods {
    margin-left: 20px;
}

.check_goods {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.goods {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.price {
    width: 40%;
    margin-left: auto;
}

.inner_price {
    background-color: #f8f9fa;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 20px;
}

.header {
    margin: 0;
    padding: 0;
    display: flex;
    color: #000;
    /* background-image: url('../img/iphone.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 100%;
    height: 5vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logo {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    margin: 6% 0% 1% 0%;
}




.submenu {
    position: absolute;
    transform: scaleY(0);
    visibility: hidden;
}

.topmenu li:hover .submenu {
    position: absolute;
    transform: scaleY(1);
    transition: ease .5s;
    visibility: visible;
}


.wrapper {
    background-color: rgb(255, 255, 255);
}
.content {
    margin: 0;
    padding: 0;
    /* display: flex; */
    /* flex-direction: row; */
    /*min-height: 100%;*/
    max-width: 100%;
}

.come_in_form {
    margin: 2%;
}

.form-control {
    width: 50%;
}

.item_card {
    border: 2px solid red;
    background-size: contain;
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
    width: fit-content;
}





html, body {
    height: 100%;
}
.post_txt {
    padding: 1rem;
}
.carousel_text {
    width: 100%;
    /* height: 70vh; */
    
}
.crsl_container {
    width: 100%;
 
}
.image {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 100%;
    height: 100vh;
}

.article {
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    align-items: flex-end;
    margin: 4% 3% 0 50%;
}

.article h1 {
    font-size: 50px;
}

.article h2 {
    font-size: 26px;
}

.con_img img{
    width: 50px;
    height: 60px;
}

.achievments {
    display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	color: black;
	margin: 0;
	padding: 0;
	max-width: 100%;
	height: fit-content;
}

.achievment {
    display: flex;
	flex-direction: column;
	/* box-shadow: 10px 14px 10px 2px rgba(255, 255, 255, 0.25), 10px 14px 18px 5px rgba(255, 255, 255, 0.25); */
	padding: 0;
	margin: 7% 10px;
	text-align: justify;
	max-width: 410px;
	min-width: 300px;
	height: fit-content;
	background-color: rgba(122, 122, 122, 0.308);
}

.achievment img {
    max-width: 100%;
   
}

.achievment_text {
    padding: 10px 10px;
    box-sizing: border-box;
    
}


.achievment_text p {
    height: 30px;
}




.cutter {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow-y: hidden;
}





.read_more {
    display: flex;
    flex-direction: row;
}

.read_more p {
    padding: 0;
    margin: 0;
}

.achievment h1,
.achievment h2,
.achievment p
{
    color: rgb(255, 255, 255);
}

.achievment h1 {
    font-size: 30px;
}

.achievment h2 {
    font-size: 18px;
}

.achievment hr {
    border: none;
    height: 2px;
    background-color: snow;
}
.achievment_text h2 {
    font-size: 30px;
}






.rings_props {
    


    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    color: black;
    margin: 0;
    padding: 0;
    max-width: 100%;
    height: auto;
}

.ring_props {
    max-width: 65%;
    display: flex;
    flex-direction: column;
    /* box-shadow: 10px 14px 10px 2px rgba(255, 255, 255, 0.25), 10px 14px 18px 5px rgba(255, 255, 255, 0.25); */
    padding: 0;
    margin-left: 100px;
    
    text-align: justify;
    /* max-width: 410px;
    min-width: 300px; */
    height: auto;
    background-color: rgba(122, 122, 122, 0.308);
}

.ring_props img {
    max-width: 100%;
}


.ring_props_text {
    max-width: 25%;
    display: flex;
    flex-direction: column;
    /* box-shadow: 10px 14px 10px 2px rgba(255, 255, 255, 0.25), 10px 14px 18px 5px rgba(255, 255, 255, 0.25); */
    padding: 0;
    margin: 7% 10px;
    
    text-align: justify;
    min-width: 300px;
    height: fit-content;
    /* background-color: rgba(122, 122, 122, 0.308); */
}

.article {
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: row;
    color: black;
    text-align: justify;
}

.article_text {
    color: dimgray;
    font-size: 150%;
}

.article_num {
    color: dimgray;
    font-size: 150%;
}

.discount {
    color: rgb(255, 0, 0);
    font-size: 150%;
}

.ring_about {
    color: dimgray;
    font-size: 100%;
}
.btn-danger {
    background-color: rgb(255, 0, 0);
}
.btn-secondary {
    background-color: rgb(151, 151, 151);
    margin: 0 5px 0 5px;
}


.social  {
    display: inline-block;
    padding:  5% 0 0 0;
    margin:  0;
    width: calc(100% / 3);
    text-align: start;
}
.phone_sty {
    padding: 20px;
    color: #999;
    font-size: large;
    font-weight: bold;
}
.socialIcons  {
    z-index:  0;
    padding:  0;
    margin:  10px 0 0 0;
    list-style-type:  none;
    height:  fit-content;
}
.socialIcons li  {
    display:  inline-block;
    margin:  auto 10px;
}
.socialIcons li a  {
    text-align:  center;
    display:  inline-block;
    font-size:  2.5rem;
    height:  50px;
    width:  60px;
    color: #bebebe;
    transition:  all ease 0.3s;
    text-shadow:  0 0 1px black,  0 0 1px black;
}

.socialIcons li a:hover  {
    /* transform:  rotateY(360deg); */
}



.footer  {
    border-top: 2px solid rgb(182, 182, 182);
    display: flex;
    flex-flow: row wrap;
    width:  100%;
    margin:  0;
    padding:  0;
    text-align:  center;
    background-color:  rgb(255, 255, 255);
    color:  #040113;
    font-family: 'Roboto', sans-serif;
    flex-shrink: 0;
}
.footer a  {
    color:  #8a8a8a;
    text-decoration:  none;
    font-family: 'Roboto', sans-serif;
    font-size:  14pt;
}
.footer a:hover  {
    color:  #d0d0d1;
    text-decoration:  none;
}
.footer p  {
    padding:  0;
    margin:  0;
}
.bottom_menu {
    display: inline-block;
    width:  calc(100% / 5);
    height:  100%;
    margin:  5% 0 0 2%;
    padding:  0;
    text-align:  left;
    background-color:  rgb(255, 255, 255);
    color:  #8a8a8a;
    min-width:  300px; 
    font-family: 'Roboto', sans-serif;
    font-size:  14pt;
}

.copyright  {
    width: 100%;
    padding-bottom: 20px;
    text-align:  center;
    background-color:  rgb(255, 255, 255);
    color:  #8a8a8a;
    min-width:  300px;
}



@media only screen and (min-device-width : 900px) and (max-device-width : 1310px) {
    .achievment {
  
        max-width: 300px;

        height: 550px;
 
    }
    .logo {
        font-size: 20px;
    }
    .article h1 {
        font-size: 40px;
    }
    
    .article h2 {
        font-size: 16px;
    }
    
    .achievment h1 {
        font-size: 20px;
    }
    
    .achievment h2 {
        font-size: 10px;
    }
    .carousel_text {
        height: 50vh;
    }
    .achievment_text h2 {
        font-size: 30px;
    }
}



@media only screen and (min-device-width : 250px) and (max-device-width : 1075px) {
    
    .logo {
        font-size: 20px;
    }
    .article {
        color: rgb(255, 255, 255);
        font-family: 'Roboto', sans-serif;
        text-align: justify;
        align-items: flex-end;
        margin: 4% 3% 0 15%;
     
    }
    
    .article h1 {
        font-size: 50px;
    }
    
    .article h2 {
        font-size: 26px;
    }
    
    .achievment h1 {
        font-size: 20px;
    }
    
    .achievment h2 {
        font-size: 10px;
    }
    .carousel_text {
        height: 30vh;
    }
    .achievment_text h2 {
        font-size: 30px;
    }
   
}

@media only screen and (min-device-width : 250px) and (max-device-width : 570px) {
    .article h1 {
        font-size: 50px;
    }
    
    .article h2 {
        font-size: 26px;
    }
    
    .achievment h1 {
        font-size: 20px;
    }
    
    .achievment h2 {
        font-size: 10px;
    }
    .carousel_text {
        height: 30vh;
    }
    .crsl_container {
        display: none;
    }
    .article {
        color: rgb(255, 255, 255);
        font-family: 'Roboto', sans-serif;
        text-align: justify;
        align-items: flex-end;
        margin: 4% 3% 0% 15%;
        font-size: smaller;
        line-height: normal;
    }
    .achievment {
  
        max-width: 300px;

        height: 550px;
 
    }
    .achievment_text h2 {
        font-size: 25px;
    }
   
   
}





/*Прижать футер к низу*/
.wrapper {
    min-height: 100%;
}
html, body {
    height: 100%;
}
.footer a {
    color: #999;
    text-decoration: none !important;
}
.footer a:hover {
    color: #efefef;
}