{% load static %}
	<div class="pre_loader">
		<div class="preloader__pos">
			<div class="circle">
        <div class="circle1"></div></div>

		</div>
	</div>
	<div class="pre_loader">
		<div class="preloader__pos">
			<div class="circle">
        <div class="circle1"></div></div>

		</div>
    </div>



<div class="fixed col-lg-12">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <img src="{% static 'img/icon.jpeg' %}" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
      <a class="navbar-brand" href="">&nbsp;JewelryStore</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="topmenu collapse navbar-collapse" id="navbarColor02">
          <ul class=" navbar-nav mr-auto">

              {% for category in categoriesproduct_list %}
              <li class="nav-item active">
                <a class="nav-link" href="{{ category.get_absolute_url }}">{{ category.name }}<span class="sr-only">(current)</span></a>

{#                <nav class="submenu navbar navbar-expand-lg navbar-light bg-light">#}
{#                   <ul class=" navbar-nav mr-auto">#}
{#                     <li class="nav-item">#}
{#                       <a class="nav-link" href="#">{{ child_category.name }}<span class="sr-only">(current)</span></a>#}
{#                     </li>#}
{#                   </ul>#}
{#               </nav>#}

              </li>
              {% endfor %}

          </ul>


            <a href="open_cart.html"><button class="btn btn-secondary my-2 my-sm-0" type="submit"><i class="fa fa-shopping-cart" aria-hidden="true"></i></button></a>
            <a href=""><button class="btn btn-secondary my-2 my-sm-0" type="submit">Вход | Регистрация</button></a>


      </div>
    </nav>
</div>