{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="main">
			<div class="logo">
				<h1>JewelryStore</h1> </div>
			<div class="wrapper">
				<div class="crsl_container">
					<div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
							<li data-target="#myCarousel" data-slide-to="1"></li>
							<li data-target="#myCarousel" data-slide-to="2"></li>
						</ol>
						<div class="carousel-inner">
							<div class="carousel-item active" data-interval="3000"> <img src="{% static 'img/001.jpg' %}" class="carousel_text" alt="Internet Tech">
								<div class="crsl_container">
									<div class="carousel-caption">
										<h1> </h1>
										<p> </p>
										<!-- <pre><a class="btn btn-lg btn-primary" href="#" role="button">   Начать   </a></pre> --></div>
								</div>
							</div>
							<div class="carousel-item" data-interval="3000"> <img src="{% static 'img/002.jpg' %}" class="carousel_text" alt="Internet Tech">
								<div class="crsl_container">
									<div class="carousel-caption">
										<h1> </h1>
										<p> </p>
										<!-- <pre><a class="btn btn-lg btn-primary" href="#" role="button">   Начать   </a></pre> --></div>
								</div>
							</div>
							<div class="carousel-item" data-interval="3000"> <img src="{% static 'img/003.png' %}" class="carousel_text" alt="Internet Tech">
								<div class="crsl_container">
									<div class="carousel-caption">
										<h1> </h1>
										<p> </p>
										<!-- <pre><a class="btn btn-lg btn-primary" href="#" role="button">   Начать   </a></pre> --></div>
								</div>
							</div>
						</div>
						<a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev"> <span class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a>
						<a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next"> <span class="carousel-control-next-icon" aria-hidden="true"></span> <span class="sr-only">Next</span> </a>
					</div>
				</div>
				<div class="achievments">
					<div class="achievment">
						<a href="#"><img src="{% static 'catalog/18684b32-816b-4512-ad52-b5560cd5277a.jpg' %}" alt="ring"></a>
					</div>
					<div class="achievment">
						<a href="#"><img src="{% static 'catalog/fa79f275-b26d-4601-922a-e2231004ba1e.jpg' %}" alt="ring"></a>
					</div>
					<div class="achievment">
						<a href="#"><img src="{% static 'catalog/37c555a9-28ba-44e2-bfb7-3aaca6096272.jpg' %}" alt="ring"></a>
					</div>
				</div>
				<div class="post_txt">
					<h1>«JewelryStore» - ваш главный ювелирный!</h1>
					<p>«JewelryStore» - ювелирный магазин, где вы найдёте множество оригинальных украшений по доступным ценам. Золото, серебро, керамика, драгоценные камни: для праздника или повседневные. Выбирайте аксессуары для себя, друзей, родных и коллег. Серьги, браслеты, кольца, подвесы, цепи и часы - широкий ассортимент ювелирных изделий – в ближайшем магазине сети или на сайте. Подарки на любой вкус!</p>
					<h1>Вступайте в клуб «JewelryStore»!</h1>
					<p>Вас ждет множество приятных скидок и бонусов. Заберите свою клубную карту в любом магазине сети.</p>
					<h3>Звёзды предпочитают нас, присоединяйтесь к ним!</h3>
					<p>Алексей Воробьёв выбирает ювелирные изделия для своих видеоклипов в JewelryStore. А Григорий Лепс выпустил оригинальную коллекцию оптики и часов, купить всё это вы можете в наших магазинах!</p>
				</div>
				<div></div>
            </div>
        </div>
{% endblock content %}
