{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="content">
      <div class="achievments">
          {% for product in products %}
          <div class="achievment">
              <a href="{% url 'product_detail' pk=product.id_product %}"><img src="{{ product.image.url }}" alt="ring"></a>
              <div class="achievment_text">
                  <h2>{{ product.get_latest_price }} ₽ </h2>
                  <div><hr></div>
                  <div class="cutter">
                      <a href="{% url 'product_detail' pk=product.id_product %}">
                        <p>
                          {{ product.title }}
                        </p>
                      </a>
                  </div>
              </div>
          </div>
          {% endfor %}
      </div>
</div>
{% endblock content %}
