<!DOCTYPE html>
{% load static %}
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>JewelryStore</title>
		<meta name="description" content="Ювелирный магазин JewelryStore">
		<meta name="keyword" content="JewelryStore,  ювелирный">
		<link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicons/favicon.ico' %}">
		<!-- Bootstrap core CSS -->
		<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
		<link rel="stylesheet" href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}">
		<link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="{% static 'css/styles.css' %}">
		<style>
			.carousel-inner>.item>img,
			.carousel-inner>.item>a>img {
				width: 100%;
				margin: auto;
			}
		</style>
	</head>

	<body>

        {% include 'include/header.html' %}

        {% block content %}

        {% endblock content %}

        {% include 'include/footer.html' %}
	</body>

</html>