body {
margin-left: 5%;
margin-right: 5%;
padding: 0;
}

.container-с1{
    display: flex;
    width: 100%;
}

.container-с2{
    display: flex;
    justify-content: center;
    width: 100%;
}

.fotorama{
    display: flex;
    justify-content: center ;
}

a{
    text-decoration: none;
}

a:hover{
    font-size: 120%;
}

.menu-link{
    color: red;
    width: 100%;
    display: flex;
    justify-content: center;
}



.menu{
    display: flex;
    justify-content: space-around;
    border-top: 1px solid grey ;
    border-bottom: 1px solid grey ;
    font-size: 130%;
    width: 100%;

}

.header-icon{
    width: 12%;
}

.header{
    background-color: white;
    display: flex;
    width: 100%;
    flex-direction: column;
}